<header>
  <div class="container header-cont">
    <!-- ⬅️ left-side  -->
    <nav class="header-nav">
      <a class="logo-block" href="./index.html">
        <svg width="28" height="28">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo-style">Bookshelf</span></a
      >
      <!-- 💻 tablet + desktop -->
      <!-- <div class="menu-nav"> -->
      <ul class="menu-nav display-none">
        <li>
          <a href="./index.html" class="nav-home" id="home-link">Home</a>
        </li>
        <li class="shop-li">
          <a href="./shopping-list.html" class="nav-shopli" id="shopping-link"
            >Shopping List
            <svg width="20" height="20" id="svgmenu" class="shop-svg">
              <use href="/img/icons.svg#icon-sl"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- </div> -->
    </nav>
    <!-- ⬅️ left-side  -->

    <!-- 💻 /tablet + desktop -->
    <!-- right-side ➡️ -->

    <!-- SWITCHERRRRRRRR -->
    <div class="right-block">
      <!-- SWITCHERRRRRRRR -->
      <input type="checkbox" id="darkmode-toggle" />
      <label for="darkmode-toggle"></label>
      <!-- SWITCHERRRRRRRR -->
      <!-- BUTTONNNNNNNNNNNN -->
      <div class="menu-btn mob-menu-display">
        <div class="menu-btn__burger"></div>
      </div>
      <!-- BUTTONNNNNNNNNNNN -->
      <div class="stephan">Stephan</div>
    </div>
    <!-- stephan -->

    <!-- stephan  -->
    <!-- /switcher  -->
  </div>
  <!-- КІНЕЦЬ ХЕДЕРУ -->
</header>
<div class="hamb-menu">
  <div class="mob-menu-container">
    <ul class="menu-hamb-nav">
      <li>
        <a href="./index.html" class="mobmenu-home" id="home-link">Home</a>
      </li>
      <li>
        <a href="./shopping-list.html" class="mobmenu-shop" id="shopping-link"
          >Shopping List
          <svg width="20" height="20" class="svg-mob">
            <use href="/img/icons.svg#icon-sl"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
