<div class="backdrop is-hidden">
  <div id="modal" class="modal-book-selection">
    <svg class="close" width="28" height="28" data-modal-close>
      <use href="/src/img/icons.svg#icon-x-close"></use>
    </svg>
    <div class="modal-book-content-wrap"></div>
  </div>
  <button class="modal-book-shopping-list-btn">Add to shopping list</button>
  <p class="modal-book-shopping-list-btn-shopping-list-message message-hide">
    Congratulations! You have added the book to the shopping list. To delete,
    press the button "Remove from the shopping list".
  </p>
</div>
