
    <link rel="stylesheet" href="./css/shopping-list-murkup-book.css" />
    <script type="module" src="./js/shopping-list-murkup-book.js"></script>

   
  <div class="container-general">
  <h1 class="shopping-list ">Shopping<span class="shopping-list list">List</span> </h1>
 
 
  <div class="body"></div>
    <!-- <section class="container">
        <picture class="picture"> 
          <img class="img" src="${}" alt="${}" >
        </picture>
        <div class="book-description">
          <div class="remove-book"> 
      
              <svg class="svg-button">
               <use href="./img/icons.svg#icon-dump" ></use>
              </svg>
            
          </div>
        <h2 class="name">${}</h2>
          <p class="category">${}</p>
          <p class="description">${}</p>
        
         <div class="svg">
          <p class="author">${}</p>
          <div>
            <ul class="platform">
              <li class="platform-svg">
                <a href="" target="_blank" rel="noopener noreferrer">
                  <svg class="icon">
                    <use href="${}" class="support"></use>
             </svg>
                </a>
              </li>
            </ul>
          </div>
          </div>
      </div>
      </section> -->
    </div>
