<div class="container-general">
  <h1 class="shop-list-title">Shopping <span>List</span></h1>


  <!-- <div class="body"></div> -->
 <ul class="body"></ul>
  <!-- <ul class="shopippping-list"></ul> -->
  <div class="empty-basket-wrap ">
    <div class="cap-wrap">
      <p class="cap-text">
        This page is empty, add some books and proceed to order.
      </p>
      <picture class="empty-list-pic">
        <source
          srcset="./img/empty-page.png 1x, ./img/empty-page-2x.png 2x"
          media="(min-width:704px)"
        />
        <source
          srcset="./img/empty-page-mob.png 1x, ./img/empty-page-mob@2x.png 2x"
          media="(max-width:703px)"
        />
        <img src="./img/empty-page.png" alt="books icon" />
      </picture>
    </div>
  </div>
</div>
