<div class="support">
  <div class="support-card js-support-card">
    <div class="support-title">
      <h2 class="support-title-name">Support Ukraine</h2>
      <svg class="icon-ukraine" width="20" height="32">
        <use href="./img/supportUkraine/icons.svg#icon-Ukr"></use>
      </svg>
    </div>

    <div class="support-list js-support-list"></div>
    <!-- <div>
      <button type="button" class="scroll-list-button">
        <svg class="button-scroll-ok" width="22" height="32">
          <use href="./img/supportUkraine/icons.svg#icon-ok"></use>
        </svg>
      </button>
    </div> -->
    <!-- <button type="button" class="button-up">
      <svg class="button-scroll-up" width="22" height="32">
        <use href="./img/supportUkraine/icons.svg#up-button"></use>
      </svg>
    </button> -->
  </div>
</div>
