<div class="support-card js-card">
  <h2 class="support-title">
    <p class="support-title-name">
      Support Ukraine 
      <svg class="icon-ukraine" width="20" height="32">
        <use href="../img/supportUkraine/icons.svg#icon-Ukr"></use>
      </svg>
    </p>
  </h2>

  <ul class="support-list js-support-list">
    <!-- support list cards with png icon  -->
  </ul>
<button type="button" class="scroll-list-button">
  <svg class="button-scroll-ok" width="22" height="32">
    <use href="../img/supportUkraine/icons.svg#icon-ok"></use>
  </svg>
</button>
</div>