.btn-up {
  cursor: pointer;
  background-color: #4f2ee8;
  border: 20px
solid #0000;
  border-radius: 70%;
  transition: border .5s cubic-bezier(.4,0,.2,1);
  position: fixed;
  top: 85%;
  right: 2%;
  width: 64px;
  height: 64px;
}

.btn-up.show {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    border: 6px solid rgba(213, 184, 255, 0.7);
  }
}