.headerbg {
  background: var(--black);
  
}

.bodybg {
  background: var(--dark-theme-body);
  color: white;
}

/* .list-item {
  color: white;
} */
.shop-svg {
  fill: black;
}

.darkmode-logo {
  color: var(--black);
}

.darkmode-logo {
  color: var(--darkmode-logo);
}

/* .darkmode-menu {
  color: #fff;
} */

/* .list-item{
  color: white;
} */