* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@media screen and (min-width: 1440px) {
  .main-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

}

.right-side{
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .right-side{
    padding-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .right-side{
    padding-top: 0;
  }
  
}

.container-categories {
  width: 335px;
}

@media screen and (min-width: 768px) {
  .container-categories {
    width: 337px;
  }
}

@media screen and (min-width: 1440px) {
  .container-categories {
    width: 356px;
  }
}

.books-container {
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .books-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .left-side {
    display: flex;
    gap: 32px;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .left-side {
    flex-direction: column;
  }
}

@media screen and (min-width: 335px) {
  .categories {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 228px;
    box-sizing: border-box;
    overflow: auto;
    gap: 24px;
  }

  @media screen and (min-width: 768px) {
    .categories {
      width: 335px;
      min-height: 472px;
      gap: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    .categories{
      width: 356px;
    }
    
  }

  .category-information {
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.42px;

    color: #b4afaf;
  }

  @media screen and(min-width: 768px) {
    .category-information {
      line-height: 24px;
    }
  }

  .book-title {
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;

    color: var(--black);
  }

  .author {
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;

    color: #b4afaf;
  }

  .list-item {
    font-family: 'DM Sans';
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.32px;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
  }

  .list-item:hover {
    text-transform: uppercase;
    color: var(--blue);
  }

  .contain {
    display: flex;
    flex-direction: column;
  }

  .book-image-class {
    width: 335px;
    height: 485px;
    border-radius: 8px;
  }

  .seemore-btn {
    margin-top: 20px;
    margin-left: auto;
    color: var(--font-color-dark);
    letter-spacing: -.14px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    margin-top: 8px;
    margin-left: auto;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  }
}


@media screen and (max-width: 767px) {
  .list-of-books {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .book-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .book-image-class {
    width: 335px;
    height: 256px;
    border-radius: 8px;
  }

  .books-container {
    width: 335px;
    display: flex;
    flex-direction: column;
  }

  .category-name {
    color: #b4afaf;
    letter-spacing: .42px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }

  .list-title {
    color: var(--font-color-dark);
    letter-spacing: -1.28px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.19;
  }

  .list-title-span {
    color: #4f2ee8;
  }

  .book-title {
    letter-spacing: -.64px;
    color: var(--font-color-dark);
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
  }

  .list-of-books-by-category {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }

  .hole-image-wrapper {
    width: 335px;

  }

  .book-image-category {
    width: 335px;
    height: 485px;

  }

  .button-wrapper {
    width: 335px;
    display: flex;
  }

  .seemore-btn {
    color: var(--font-color-dark);
    letter-spacing: -.14px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    margin-left: auto;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  }
}

@media screen and (min-width: 768px) {
  .list-of-books {
    gap: 40px;
    display: flex;
    flex-direction: column;
    width: 704px;
    list-style: none;
  }

  .book-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .book-content {
    width: 180px;
    height: 306px;
  }

  .book-image-class {
    width: 180px;
    height: 256px;
    border-radius: 8px;
  }

  .books-container {
    display: flex;
    flex-direction: column;
    width: 704px;
  }

  .category-name {
    color: #b4afaf;
    letter-spacing: .42px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }

  .list-title {
    color: var(--font-color-dark);
    letter-spacing: -1.92px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
  }

  .list-title-span {
    color: #4f2ee8;
  }

  .book-title {
    letter-spacing: -.64px;
    color: var(--font-color-dark);
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
  }

  .list-of-books-by-category {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }

  .hole-image-wrapper {
    width: 216px;

  }

  .book-image-category {
    width: 100%;
    height: 316px;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
  }

  .seemore-btn {
    margin-top: 20px;
    color: var(--font-color-dark);
    letter-spacing: -.14px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    margin-left: auto;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  }
}

@media screen and (min-width: 1440px) {
  .list-of-books {
    gap: 40px;
    display: flex;
    flex-direction: column;
    width: 996px;
    list-style: none;
  }

  .book-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .book-content {
    width: 180px;
    height: 306px;
  }

  .book-image-class {
    width: 180px;
    height: 256px;
    border-radius: 8px;
  }

  .books-container {
    display: flex;
    flex-direction: column;
    width: 996px;
  }

  .category-name {
    color: #b4afaf;
    letter-spacing: .42px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
  }

  .list-title {
    color: var(--font-color-dark);
    letter-spacing: -1.92px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
  }

  .list-title-span {
    color: #4f2ee8;
  }

  .book-title {
    letter-spacing: -.64px;
    color: var(--font-color-dark);
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.12;
  }

  .list-of-books-by-category {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }



  .hole-image-wrapper {
    width: 180px;
    height: 256px;
  }

  .book-image-category {
    width: 180px;
    height: 256px;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
  }

  .seemore-btn {
    margin-top: 20px;
    margin-left: auto;
    color: var(--font-color-dark);
    letter-spacing: -.14px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    margin-left: auto;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  }
}

