* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 335px) {
  .container-categories {
    max-width: 767px;
    padding: 40px 20px;
  }

  .categories {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 228px;
    box-sizing: border-box;
    overflow: auto;
    gap: 24px;
  }

  .list-item {
    font-family: 'DM Sans';
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.32px;
    color: rgba(17, 17, 17, 0.60);
    cursor: pointer;
  }

  .list-item:hover {
    text-transform: uppercase;
    color: var(--blue);
  }

  .book-item {
    margin-top: 40px;
  }

  .list-of-books {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .category-information {
    color: #B4AFAF;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .book-cover {
    margin: 18px 0 14px 0;
    width: 335px;
    height: 485px;
    border-radius: 8px;
  }

  .book-title {
    color: #111;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.64px;
    text-transform: uppercase;
    margin-top: 0;
  }

  .book-author {
    color: #B4AFAF;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
  }

  .see-more-btn {
    margin-top: 8px;
    display: inline-flex;
    padding: 14px 26px;
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    margin-left: 205px;
    min-width: 126px;
    height: 46px;
  }

}