/*-backdrop-*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*--modal-*/
.close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  stroke: var(--black);
}

@media screen and (min-width: 768px) {
  .close {
    width: 28px;
    height: 28px;
    right: 24px;
    top: 24px;
  }
}
.close:hover,
.close:focus {
  stroke: var(--blue);
}

.modal-book-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  border: 2px solid var(--black);
  background: var(--white);

  width: 338px;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid;
}

@media screen and (min-width: 768px) {
  .modal-book-selection {
    width: 582px;
    display: inline-flex;
    padding: 40px;
    align-items: flex-start;
    gap: 10px;
  }
}

.modal-book-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .modal-book-content {
    align-items: flex-start;
  }
}

.modal-book-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .modal-book-content-wrap {
    flex-direction: row;
    gap: 24px;
  }
}

.modal-book-book-cover {
  width: 287px;
  height: 408px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .modal-book-book-cover {
    width: 192px;
    height: 281px;
  }
}

.modal-book-content-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .modal-book-content-text-wrap {
    gap: 20px;
  }
}

.modal-book-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .modal-book-text-wrap {
    gap: 20px;
  }
}

.modal-book-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .modal-book-title-wrap {
    gap: 8px;
  }
}

.modal-book-title {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
}

@media screen and (min-width: 768px) {
  .modal-book-title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.96px;
  }
}

.modal-book-author {
  font-size: 12px;
  color: #b4afaf;

  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

@media screen and (min-width: 768px) {
  .modal-book-book-author {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }
}

.modal-book-description {
  display: flex;
  width: 287px;
  height: 70px;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  color: var(--black);
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .modal-book-descreption {
    width: 279px;
    height: 70px;
    color: var(--black);
  }
}

.modal-book-marketplaces {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 287px;
  height: 36px;
  flex-wrap: wrap;
}

.modal-book-trading-platform {
  height: 36px;
}

.modal-book-trading-platform:hover,
.modal-book-trading-platform:focus {
  filter: saturate(0%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.amazon {
  display: block;
  width: 62px;
  height: 19px;
}

.apple-books {
  width: 33px;
  height: 32px;
}

.bookshop {
  width: 38px;
  height: 36px;
}

.modal-book-shopping-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 23px;
  border-radius: 40px;
  border: 2px solid var(--blue);
  background-color: transparent;
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal-book-shopping-list-btn {
    font-size: 18px;
    width: 499px;
    padding: 14px 28px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.modal-book-shopping-list-btn:hover {
  background: var(--blue);
  color: var(--white);
}

.modal-book-shopping-list-btn:focus {
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}
.message-hide {
  display: none;
}

.modal-book-shopping-list-btn-shopping-list-message {
  text-align: center;
  width: 242px;
  color: rgba(17, 17, 17, 0.5);
  margin-top: 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  .modal-book-shopping-list-btn-shopping-list-message {
    align-self: center;
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.48px;
  }
}
