/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.active-category {
  text-transform: uppercase;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.container {
  padding: 40px 20px 80px 20px;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 40px 32px 100px 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    width: 1440px;
  }
}
