/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 703px) {
  .container {
    padding: 40px 20px 20px 40px;
  }
}

@media screen and (min-width: 704px) {
  .container {
    padding: 40px 32px 32px 40px;
  }
}

@media screen and (min-width: 1392px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
