ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container-general {
  max-width: 335px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.block-hidden {
  display: none;
}


.list {
  color: #4f2ee8;
  margin-left: 7px;
}
.svg-button {
  width: 28px;
  height: 28px;
  
}

/* .button-svg {
  position: absolute;
  right: 0;
  width: 28px;
  height: 28px;
  border: none;
  background-color: aqua; */
/* } */
.shopping-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin: auto;
  margin-bottom: 28px;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  max-width: 335px;
  max-height: 170px;
}
.remove-book {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 0;
  border-radius: 50%;
  border: 2px solid rgba(79, 46, 232, 0.40);
  background-color: #4F2EE8;
  
}
.basket-svg-shopping {
fill: #fff;
background-color: #fff;

}
.img {
  border-radius: 8px;
  width: 100px;
  height: 142px;
}
.book-description {
  position: relative;
  padding: 0;
  width: 193px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  height: 30px;
  width: 144px;
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category {
  margin-top: 4px;
  height: 25px;
  width: 144px;
  color: #b4afaf;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  margin-top: 8px;
  margin-right: 8px;
  width: 100%;
  height: 100%;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

.platform {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.svg {
  height: 14px;
  max-width: 193px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.book {
  width: 16px;
  height: 16px;
}
.book:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.amazon {
  width: 32px;
  height: 11px;
}
.amazon:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

/* Планшет */
@media screen and (min-width: 768px) {
  .container-general {
    max-width: 704px;
    margin-top: 0px;
  }

  .shopping-container {
    max-width: 704px;
    max-height: 213px;
    padding: 24px;
    gap: 24px;
  }
  .remove-book {
    width: 34px;
    height: 34px;
  }
  .img {
    width: 116px;
    height: 165px;
  }
  .book-description {
    width: 508px;
  }
  .name {
    width: 508px;
  }
  .category {
    width: 508px;
  }
  .description {
    white-space: normal;
  }

  .svg {
    max-width: 514px;
  }
  .book {
    width: 28px;
    height: 27px;
  }
  .amazon {
    width: 48px;
    height: 15px;
  }
}
/* Десктоп */
@media screen and (min-width: 1440px) {
  .container-general {
    max-width: 996px;
    /* margin-top: 40px; */
  }
  .shopping-container {
    max-width: 996px;
  }
  .book-description {
    width: 808px;
  }
  .svg {
    max-width: 996px;
  }
}
