.support {
  width: 335px;
  border-radius: 16px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .support {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .support {
    width: 356px;
  }
}

.support-card {
  background-image: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    var(--blue) 18.03%,
    var(--white) 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);

  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 20px;

  border-radius: 16px;

  width: 335px;
  max-height: 460px;
}

@media screen and (min-width: 768px) {
  .support-card {
    padding-bottom: 24px;
    max-height: 474px;
  }
}

@media screen and (min-width: 1440px) {
  .support-card {
    width: 356px;
  }
}

.support-title {
  margin-bottom: 40px;

  display: flex;
  gap: 12px;
  align-items: center;
}

.support-title-name {
  font-family: 'DM Sans';
  color: var(--white);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
}

.support-number {
  color: var(--white);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 16px;
}

.support-list {
  min-width: 159px;
  min-height: 292px;
}

.support-item {
  display: flex;
  padding-bottom: 20px;
}

.support-item:last-child {
  padding-bottom: 0;
}

.img-support {
  filter: brightness(0) invert(1);
  max-width: 200px;
  height: 32px;
}

.scroll-list-button {
  display: block;
  border: none;
  border-radius: 100%;

  width: 32px;
  height: 32px;

  margin-left: auto;
  margin-right: 152px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.scroll-list-button:hover,
.scroll-list-button:focus {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media screen and (min-width: 768px) {
  .scroll-list-button {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-list-button {
    margin-right: 159px;
  }
}

.button-scroll-ok {
  margin-top: 1px;
}

@media screen and (min-width: 768px) {
  .button-scroll-ok {
    margin-top: 3px;
  }
}

.button-up {
  display: none;
  border: none;
  border-radius: 100%;

  width: 32px;
  height: 32px;

  margin-left: auto;
  margin-right: 152px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-up:hover,
.button-up:focus {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media screen and (min-width: 768px) {
  .button-up {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .button-up {
    margin-right: 159px;
  }
}

.button-scroll-up {
  margin-top: 1px;
}

@media screen and (min-width: 768px) {
  .button-scroll-up {
    margin-top: 3px;
  }
}

.icon-ukraine {
  fill: var(--white);
  padding-bottom: 0px;
  margin: 0px;
}
