* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.support-card {
  margin: 0px 20px 40px 20px;
  display: block;
  background-image: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    var(--blue) 18.03%,
    var(--white) 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  position: relative;
  border-radius: 16px;

  width: 335px;
  max-height: 460px;
}

@media screen and (min-width: 768px) {
  .support-card {
    margin: 40px 32px 98px 32px;
    max-height: 474px;
  }
}

@media screen and (min-width: 1440px) {
  .support-card {
    margin: 0px 40px 0px 24px;
  }
}

.support-list{
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 20px;

  min-width: 159px;
  min-height: 292px;
}

.scroll-list-button {
  display: block;
  border: none;
  border-radius: 100%;

  width: 32px;
  height: 32px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.scroll-list-button:hover,
.scroll-list-button:focus {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media screen and (min-width: 768px) {
  .scroll-list-button{
    margin-bottom: 24px;

    width: 38px;
    height: 38px;
  }
}

.button-scroll-ok{
  margin-top: 1px;
}

@media screen and (min-width: 768px) {
  .button-scroll-ok{
    margin-top: 3px;
  }
}

.icon-ukraine{
  fill: var(--white);
  padding-bottom: 0px;
  margin: 0px;
}